<table class="table">
    <thead>
        <tr>
            {% for header in this.headers %}
                <td>{{ header['name'] }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for entry in this.entries %}
        <tr>
            {% for header in this.headers %}
                <td style="overflow: clip; text-wrap: normal">{{ entry[header['id']] }}</td>
            {% endfor %}
            <td  style="width: 25%">
                <div class="row g-2">
                    {% for action in actions %}
                        <div class="col-2">
                            {% if this.keyExists('basePath', action) %}
                                <form action="{{ this.getActionPath(action['basePath'], entry['id']) }}" method="post">
                                    <button type="submit" class="btn btn-sm {{ action['class'] }}">{{ action['label'] }}</button>
                                </form>
                            {% endif %}
                            {% if this.keyExists('linkPath', action) %}
                                <form action="{{ path(action['linkPath'], {id: entry['id']}) }}" method="get">
                                    <button type="submit" class="btn btn-sm {{ action['class'] }}">{{ action['label'] }}</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>